include ./head.jade

mixin hourByHour(record)
    li(id=record.dt, class="day-forecast")
        a(href="/hourly")
            span.day.
                #{record.time}
            span.forecast
                | #{record.main.temp}&deg;
                i(class="wi wi-owm-" + record.weather[0].id)
body
    #current-weather-view
        h2 #{hourByHour.city.name} (#{friendlyDate})
        i(class='wi current-weather-icon wi-owm-')
    ul#five-day-forecast
        each value in hourByHour.list
            +hourByHour(value) 
