include ./head.jade
mixin dayAtAGlance(id, day, date, low, high, weatherId)
    li(id=id, class="day-forecast")
        a(href="/hourly")
            span.date.
                (#{date.getMonth() + 1}/#{date.getDate()})
            span.day.
                #{day}
            span.forecast
                | #{low}&deg; / #{high}&deg;
                i(class="wi wi-owm-" + weatherId)

body
    #current-weather-view
        h2 #{name}
        i(class='wi current-weather-icon wi-owm-' + weather[0].id)
        #current-weather-statistics
            span#current-weather-temperature.
                #{main.temp}&deg;
    ul#five-day-forecast
        each value in forecast.list
            +dayAtAGlance('time' + value.day, value.day, value.date, value.temp.min, value.temp.max, value.weather[0].id)